<body class="h-screen pb-16 flex flex-col bg-background-{{selectedTheme}} overflow-y-scroll">
    <header class="sticky z-10 top-0 h-16 m-0 flex flex-none items-center justify-between bg-primary-{{selectedTheme}} sm:h-20">
        <button class="h-8 w-8 mx-2 flex items-center justify-center rounded-full text-2xl text-white sm:h-10 sm:w-20 active:animate-shrink" routerLink="/detalle/{{index}}" [disabled]="disabledBtn">
            <img src="../../assets/chevron-back-outline.svg" alt="Agregar" class="h-3/4 w-3/4">
        </button>

        <h1 class="w-full px-4 text-white font-bold text-2xl truncate sm:text-3xl sm:mx-6 md:mx-8 lg:text-center lg:mx-0 lg:px-0">
            Editar materia
        </h1>

        <button id="btn-eliminar" class="h-12 w-12 mx-4 flex items-center justify-center justify-self-end rounded-full text-2xl text-white sm:h-12 sm:w-24 sm:mx-7 active:animate-shrink lg:mx-2" (click)="modalConfirmacion = true" [disabled]="disabledBtn">
            <img src="../../assets/trash-outline.svg" alt="Agregar" class="h-3/4 w-3/4">
        </button>
    </header>

    <!-- Contenido principal -->
    <div class="flex flex-col mx-3 my-3 animate-load md:mx-8">
        <!-- Nombre de materia -->
        <div class="w-full mb-3 flex items-center">
            <label for="nombre-materia" class="mr-8 w-fit text-textColor-{{selectedTheme}} sm:text-xl">Nombre: </label>
            <input id="nombre-materia" type="text" class="w-full px-3 outline-none border border-solid border-primary-{{selectedTheme}} rounded-full sm:sm:text-xl" placeholder="Ej. Español" [(ngModel)]="datosMateria.nombre" (change)="mensajeError = ''">
        </div>

        <!-- Evaluaciones -->
        <div class="w-full mb-3 flex items-center animate-show" *ngFor="let evaluacion of datosMateria.evaluaciones; index as i">
            <label for="nombre-evaluacion-{{i}}" class="mr-4 w-fit text-textColor-{{selectedTheme}} sm:text-xl sm:mr-3">Evaluacion: </label>
            <input id="nombre-evaluacion-{{i}}" type="text" class="w-full mr-1 px-3 outline-none border border-solid border-primary-{{selectedTheme}} rounded-full sm:h-10 sm:text-xl lg:mr-4" placeholder="Ej. Examen" [(ngModel)]="evaluacion.nombre" (change)="mensajeError = ''">
            <label for="valor-evaluacion-{{i}}" class="text-textColor-{{selectedTheme}} mx-2 sm:text-xl">Valor: </label>
            <input id="valor-evaluacion-{{i}}" type="number" class="w-12 text-center outline-none border border-solid border-primary-{{selectedTheme}} rounded-full sm:h-10 sm:w-16 sm:text-xl lg:w-24" placeholder="%" [(ngModel)]="evaluacion.valor" (focus)="valorAnterior = datosMateria.evaluaciones[i].valor" (change)="mensajeError = ''; sumarTotal(i)">

            <button class="w-16 ml-2 rounded-full flex items-center justify-center self-center active:animate-shrink sm:w-12">
                <img src="../../assets/cross-outline.svg" alt="Borrar" *ngIf="i > 0" (click)="eliminarEvaluacion(i)">
            </button>
        </div>

        <!-- Suma de puntos -->
        <div class="w-full pr-7 flex justify-between sm:pr-9 lg:pr-12">
            <p class="text-lg text-textColor-{{ selectedTheme }} semibold sm:text-2xl">Total</p>
            <p class="w-12 text-lg text-center text-textColor-{{ selectedTheme }} semibold sm:w-14 sm:text-2xl lg:w-24">{{ sumaPuntos }}</p>
        </div>

        <!-- Botones -->
        <div class="flex gap-1 pt-2 sm:flex-row sm:justify-center lg:flex-col lg:items-center">
            <button class="w-full h-10 mt-2 text-white font-semibold bg-primary-{{selectedTheme}} rounded-full focus:outline-none ring-transparent sm:w-1/2 sm:mx-2 sm:text-lg lg:w-1/3 lg:text-xl active:animate-shrink" (click)="agregarEvaluacion()">
                Agregar evaluacion
            </button>
            <button class="w-full h-10 my-2 text-white font-semibold bg-primary-{{selectedTheme}} rounded-full outline-none sm:w-1/2 sm:mx-2 sm:text-lg lg:w-1/3 lg:text-xl active:animate-shrink" (click)="guardarNuevaMateria()">
                Guardar
            </button>
        </div> 

        
        <!-- Mensaje error en input -->
        <div class="w-full mt-5 text-center text-red-600 text-md font-semibold">
            <p>{{mensajeError}}</p>
        </div>


        <!-- Modal materia guardada -->
        <div class="absolute left-0 top-0 h-full w-screen bg-black/50 flex justify-center items-center" *ngIf="materiaGuardada" (click)="materiaGuardada = false">
            <!-- Contenido modal -->
            <div class="w-fit h-fit mx-4 px-10 py-3 rounded-2xl text-center bg-primary-{{selectedTheme}} opacity-100 shadow-2xl animate-float lg:px-12 lg:py-8 lg:pb-4">
                <h1 class="w-fit mb-6 text-white text-xl lg:text-2xl">
                    La materia ha sido editada
                </h1>
    
                <button class="w-24 px-3 py-1 bg-secondary-{{selectedTheme}} rounded-full text-white text-sm lg:text-md lg:px-4 lg:py-2 active:animate-shrink" routerLink="/inicio">
                    Regresar
                </button>
            </div>
        </div>
        

        <!-- Modal confirmar eliminación -->
        <div class="absolute left-0 top-0 h-full w-screen bg-black/50 flex justify-center items-center" *ngIf="modalConfirmacion">
            <!-- Contenido modal -->
            <div class="w-fit h-fit mx-4 px-8 py-3 rounded-2xl text-center bg-primary-{{selectedTheme}} opacity-100 shadow-2xl animate-float lg:px-12 lg:py-8 lg:pb-4">
                <h1 class="w-fit text-white text-xl lg:text-2xl">
                    ¿Deseas eliminar la materia?
                </h1>

                <h1 class="py-4 text-sm text-white font-semibold lg:text-md">
                    *Los datos no podran ser recuperados
                </h1>

                <button class="w-24 px-3 py-1 mx-2 text-sm text-white font-bold bg-red-600 border border-solid border-red-600 rounded-full lg:text-md lg:px-4 lg:py-2 active:animate-shrink" (click)="eliminarMateria(); modalConfirmacion = false; modalEliminada = true;">
                    Confirmar
                </button>
    
                <button class="w-24 px-3 py-1 mx-2 bg-secondary-{{selectedTheme}} rounded-full text-white text-sm lg:text-md lg:px-4 lg:py-2 active:animate-shrink" (click)="modalConfirmacion = false">
                    Cancelar
                </button>
            </div>
        </div>


        <!-- Modal materia eliminada -->
        <div class="absolute left-0 top-0 h-full w-screen bg-black/50 flex justify-center items-center" *ngIf="modalEliminada">
            <!-- Contenido modal -->
            <div class="w-fit h-fit mx-4 px-8 py-4 rounded-2xl text-center bg-primary-{{selectedTheme}} opacity-100 shadow-2xl animate-float lg:px-12 lg:py-8 lg:pb-4">
                <h1 class="w-fit mb-6 text-white text-xl lg:text-2xl">
                    La materia ha sido eliminada
                </h1>
    
                <button class="w-24 px-3 py-1 bg-secondary-{{selectedTheme}} rounded-full text-white text-sm lg:text-md lg:px-4 lg:py-2 active:animate-shrink" routerLink="/inicio">
                    Regresar
                </button>
            </div>
        </div>
    </div>
</body>