<body class="h-screen flex flex-col bg-background-{{selectedTheme}} overflow-y-scroll">
    <header class="sticky z-10 top-0 h-16 m-0 flex flex-none items-center bg-primary-{{selectedTheme}} sm:h-20">
        <!-- Botón regresar -->
        <div class="flex mx-2 md:mx-8">
            <button class="h-8 w-8 mx-2 flex items-center justify-center rounded-full text-2xl text-white sm:h-10 sm:w-10  active:animate-shrink" routerLink="/inicio">
                <img src="../../assets/chevron-back-outline.svg" alt="Agregar" class="h-3/4 w-3/4">
            </button>
        </div>

        <h1 class="mx-2 text-white font-bold text-2xl sm:text-3xl md:mx-8">
            Agregar materia
        </h1>
    </header>
    
    <!-- Contenido principal -->
    <div class="flex flex-col mx-3 my-3 animate-load md:mx-8 md:mr-4">
        <!-- Nombre de materia -->
        <div class="w-full mb-3 flex items-center">
            <label for="nombre-materia" class="mr-8 w-fit text-textColor-{{selectedTheme}} sm:text-xl">Nombre: </label>
            <input id="nombre-materia" type="text" class="w-full px-3 outline-none border border-solid border-primary-{{selectedTheme}} rounded-full sm:h-10 sm:sm:text-xl" placeholder="Ej. Español" [(ngModel)]="nuevaMateria.nombre" (change)="mensajeError = ''">
        </div>

        <!-- Evaluaciones -->
        <div class="w-full mb-3 flex items-center animate-show" *ngFor="let evaluacion of nuevaMateria.evaluaciones; index as i">
            <label for="nombre-evaluacion" class="mr-4 w-fit text-textColor-{{selectedTheme}} sm:text-xl sm:mr-3">Evaluacion: </label>
            <input id="nombre-evaluacion" type="text" class="w-full mr-1 px-3 outline-none border border-solid border-primary-{{selectedTheme}} rounded-full sm:h-10 sm:text-xl lg:mr-4" placeholder="Ej. Examen" [(ngModel)]="evaluacion.nombre" (change)="mensajeError = ''">
            <label for="valor-evaluacion" class="text-textColor-{{selectedTheme}} mx-2 sm:text-xl">Valor: </label>
            <input id="valor-evaluacion" type="number" class="w-12 pl-2 outline-none border border-solid border-primary-{{selectedTheme}} rounded-full sm:h-10 sm:w-14 sm:text-xl lg:w-24" placeholder="%" [(ngModel)]="evaluacion.valor" (change)="mensajeError = ''">

            <button class="w-16 ml-2 rounded-full flex items-center justify-center self-center active:animate-shrink sm:w-12">
                <img src="../../assets/cross-outline.svg" alt="Borrar" *ngIf="i > 0" (click)="eliminarEvaluacion(i)">
            </button>
        </div>

        <!-- Botones -->
        <div class="sm:flex sm:flex-row sm:justify-center lg:flex lg:flex-col lg:items-center">
            <button class="w-full h-10 mt-2 text-white font-semibold bg-primary-{{selectedTheme}} rounded-full focus:outline-none ring-transparent sm:w-1/2 sm:mx-2 sm:text-lg lg:w-1/3 lg:text-xl active:animate-shrink" (click)="agregarEvaluacion()">
                Agregar evaluacion
            </button>
            <button class="w-full h-10 my-2 text-white font-semibold bg-primary-{{selectedTheme}} rounded-full outline-none sm:w-1/2 sm:mx-2 sm:text-lg lg:w-1/3 lg:text-xl active:animate-shrink" (click)="guardarNuevaMateria()">
                Guardar
            </button>
        </div>

        <div class="w-full mt-5 text-center text-red-600 text-md font-semibold">
            <p>{{mensajeError}}</p>
        </div>

        <!-- Modal -->
        <div class="absolute left-0 top-0 h-full w-screen bg-black/50 flex justify-center items-center" *ngIf="materiaGuardada">
            <!-- Contenido modal -->
            <div class="w-fit h-fit px-8 py-4 rounded-2xl text-center bg-primary-{{selectedTheme}} opacity-100 shadow-2xl animate-float lg:px-12 lg:py-8 lg:pb-4">
                <h1 class="mb-6 text-white text-xl lg:text-2xl">
                    La materia ha sido agregada
                </h1>

                <button class="w-24 px-3 py-1 bg-secondary-{{selectedTheme}} rounded-full text-white text-sm lg:text-md lg:px-4 lg:py-2 active:animate-shrink" routerLink="/inicio">
                    Regresar
                </button>
            </div>
        </div>
    </div>
</body>