<body class="h-screen pb-2 flex flex-col bg-background-{{selectedTheme}} overflow-y-scroll">
    <!-- Header -->
    <header class="sticky z-10 top-0 h-16 m-0 flex flex-none items-center bg-primary-{{selectedTheme}} sm:h-20">
        <!-- Botón regresar -->
        <div class="flex mx-2 md:mx-8">
            <button class="h-8 w-8 mx-2 flex items-center justify-center rounded-full text-2xl text-white sm:h-10 sm:w-10  active:animate-shrink" routerLink="/tareas">
                <img src="../../assets/chevron-back-outline.svg" alt="Agregar" class="h-3/4 w-3/4">
            </button>
        </div>

        <h1 class="mx-2 text-white font-bold text-2xl sm:text-3xl md:mx-8">
            Agregar tarea
        </h1>
    </header>
    
    <div class="h-full flex flex-col flex-grow mx-3 my-6 gap-4 animate-load md:mx-6">
        <div class="w-full flex sm:h-10">
            <label for="nombre-tarea" class="mr-4 w-fit text-textColor-{{selectedTheme}} sm:text-xl sm:mr-3">Nombre: </label>
            <input type="text" id="nombre-tarea" placeholder="Tarea 1" class="w-full mx-4 px-2 outline-none appearance-none rounded-full" [(ngModel)]="nuevaTarea.nombre">
        </div>
        <div class="w-full flex items-start px-4 sm:h-10">
            <label for="fecha-tarea" class="mr-8 w-fit text-textColor-{{selectedTheme}} sm:text-xl sm:ml-2 sm:mr-7">Fecha: </label>
            <input type="date" name="fecha-tarea" id="fecha-tarea" class="h-full w-full appearance-none outline-none px-2 rounded-full" [(ngModel)]="nuevaTarea.fecha">
        </div>
        
        <div class="h-full flex items-end">
            <button class="w-full h-10 my-2 text-white font-semibold bg-primary-{{selectedTheme}} rounded-full outline-none sm:text-lg lg:text-xl active:animate-shrink" (click)="guardarTarea()">
                Guardar
            </button>
        </div>
    </div>
</body>