<body class="h-screen flex flex-col bg-background-{{selectedTheme}} overflow-scroll">
    <header class="sticky z-10 top-0 h-16 m-0 flex flex-none items-center justify-between bg-primary-{{selectedTheme}} sm:h-20">
        <h1 class="mx-2 text-white font-bold text-2xl sm:text-3xl">
            Configuracion
        </h1>

        <div class="flex mx-2">
            <button class="h-8 w-8 mx-2 flex items-center justify-center rounded-full border border-solid text-2xl text-white border-white sm:h-10 sm:w-10  active:bg-white active:animate-shrink" routerLink="/inicio">
                <img src="../../assets/return-down-back-outline.svg" alt="Agregar" class="h-3/4 w-3/4">
            </button>
        </div>        
    </header>

    <div class="h-16 my-4 px-4">
        <label for="theme-select" class="text-xl text-textColor-{{selectedTheme}} lg:text-3xl">Tema: </label>

        <select id="theme-select" class="mx-1 px-3 text-lg appearance-none rounded-md bg-zinc-100 outline-none lg:text-2xl" (change)="changeTheme($event)">
            <option value="light">Light Theme</option>
            <option value="dark">Dark Theme</option>
            <option value="pink">Pink Theme</option>
        </select>
    </div>

    <div class="flex h-full justify-center">
        <button class="h-10 w-52 max-w-2xl mx-4 my-10 text-xl text-white font-bold bg-red-500 border border-solid border-red-500 rounded-full self-end sm:h-12 sm:w-60 sm:text-2xl lg:h-20 lg:w-72 lg:text-3xl active:animate-shrink">
            Borrar materias
        </button>
    </div>
</body>