<body class="flex flex-col h-screen bg-background-{{selectedTheme}} overflow-y-scroll">
    <header class="sticky z-10 top-0 h-16 m-0 flex flex-none items-center bg-primary-{{selectedTheme}} sm:h-20">
        <div class="flex mx-2 md:mx-8">
            <button class="h-8 w-8 mx-2 flex items-center justify-center rounded-full text-2xl text-white sm:h-10 sm:w-10  active:bg-white active:animate-shrink" routerLink="/inicio">
                <img src="../../assets/chevron-back-outline.svg" alt="Agregar" class="h-3/4 w-3/4">
            </button>
        </div>

        <h1 class="mx-2 text-white font-bold text-2xl sm:text-3xl md:mx-8">
            Configuracion
        </h1>

    </header>

    <!-- Contenedor para menu selector de temas -->
    <div class="p-4 flex items-center md:mx-4">
        <h1 class="mr-2 text-xl text-textColor-{{selectedTheme}} lg:text-3xl">Tema: </h1>

        <!-- Opciones para temas -->
        <div class="opcion w-1/4 flex justify-center" tema="light">
            <div class="w-6 h-6 bg-primary-light rounded-full sm:w-8 sm:h-8"></div>
        </div>
        <div class="opcion w-1/4 flex justify-center" tema="dark">
            <div class="w-6 h-6 bg-primary-dark rounded-full sm:w-8 sm:h-8"></div>
        </div>
        <div class="opcion w-1/4 flex justify-center" tema="pink">
            <div class="w-6 h-6 bg-primary-pink rounded-full sm:w-8 sm:h-8"></div>
        </div>
        <div class="opcion w-1/4 flex justify-center" tema="purple">
            <div class="w-6 h-6 bg-primary-purple rounded-full sm:w-8 sm:h-8"></div>
        </div>
    </div>

    <div class="flex h-full justify-center">
        <button class="h-10 w-52 max-w-2xl mx-4 my-10 text-xl text-white font-bold bg-red-600 border border-solid border-red-600 rounded-full self-end lg:h-16 lg:w-64 lg:text-3xl active:animate-shrink" (click)="modalConfirmacion = true">
            Borrar materias
        </button>
    </div>


    <!-- Modal confirmar eliminación -->
    <div class="absolute left-0 top-0 h-full w-screen bg-black/50 flex justify-center items-center" *ngIf="modalConfirmacion">
        <!-- Contenido modal -->
        <div class="w-fit h-fit mx-4 px-6 py-3 rounded-2xl text-center bg-primary-{{selectedTheme}} opacity-100 shadow-2xl animate-float lg:px-12 lg:py-8 lg:pb-4">
            <h1 class="w-fit text-white text-xl lg:text-2xl">
                ¿Deseas eliminar todas las materias?
            </h1>

            <h1 class="py-4 text-sm text-white font-semibold lg:text-md">
                *Los datos no podran ser recuperados
            </h1>

            <button class="w-24 px-3 py-1 mx-2 text-sm text-white font-bold bg-red-600 border border-solid border-red-600 rounded-full lg:text-md lg:px-4 lg:py-2 active:animate-shrink" (click)="borrarMaterias(); modalConfirmacion = false; modalEliminadas = true;">
                Confirmar
            </button>

            <button class="w-24 px-3 py-1 mx-2 bg-secondary-{{selectedTheme}} rounded-full text-white text-sm lg:text-md lg:px-4 lg:py-2 active:animate-shrink" (click)="modalConfirmacion = false">
                Cancelar
            </button>
    	</div>
    </div>


    <!-- Modal materia eliminada -->
    <div class="absolute left-0 top-0 h-full w-screen bg-black/50 flex justify-center items-center" *ngIf="modalEliminadas">
        <!-- Contenido modal -->
        <div class="w-fit h-fit mx-4 px-8 py-4 rounded-2xl text-center bg-primary-{{selectedTheme}} opacity-100 shadow-2xl animate-float lg:px-12 lg:py-8 lg:pb-4">
            <h1 class="w-fit mb-6 text-white text-xl lg:text-2xl">
                Las materias han sido eliminadas
            </h1>

            <button class="w-24 px-3 py-1 bg-secondary-{{selectedTheme}} rounded-full text-white text-sm lg:text-md lg:px-4 lg:py-2 active:animate-shrink" routerLink="/inicio">
                Regresar
            </button>
        </div>
    </div>
</body>