<body class="h-screen bg-background-{{selectedTheme}} overflow-scroll">
    <header class="sticky z-10 top-0 h-16 m-0 flex flex-none items-center justify-between bg-primary-{{selectedTheme}} sm:h-20">
        <h1 class="mx-2 text-white font-bold text-2xl sm:text-3xl">
            Lista de materias
        </h1>

        <div class="flex mx-2">
            <button class="h-8 w-8 mx-2 flex items-center justify-center rounded-full border border-solid text-2xl text-white border-white sm:h-10 sm:w-10  active:bg-white active:animate-shrink" routerLink="/agregar">
                <img src="../../assets/add-outline.svg" alt="Agregar" class="h-3/4 w-3/4">
            </button>
            <button class="h-8 w-8 mx-2 flex items-center justify-center rounded-full border border-solid text-2xl text-white border-white sm:h-10 sm:w-10  active:bg-white active:animate-shrink" routerLink="/ajustes">
                <img src="../../assets/settings-outline.svg" alt="Agregar" class="h-3/4 w-3/4">
            </button>
        </div>
        
    </header>
    
    <div class="my-3 mx-2 flex flex-grow flex-col items-center">
        <div class="h-16 w-full max-w-3xl mx-4 my-1 bg-darkBackground-{{selectedTheme}} border border-solid border-primary-{{selectedTheme}} flex items-center justify-center rounded-3xl cursor-pointer active:animate-shrink sm:h-20 sm:w-5/6" *ngFor="let materia of materias">
            <h1 class="text-xl sm:text-2xl">
                {{ materia }}
            </h1>
        </div>
    </div>  
</body>        


<!-- <div class="px-4">
    <select id="theme-select" class="focus:outline-none" (change)="changeTheme($event)">
        <option value="light">Light Theme</option>
        <option value="dark">Dark Theme</option>
        <option value="pink">Pink Theme</option>
    </select>
</div> -->