<body class="pb-12 flex flex-col h-screen bg-background-{{selectedTheme}}">
    <!-- Header -->
    <header class="sticky z-10 top-0 h-16 m-0 flex flex-none items-center justify-between bg-primary-{{selectedTheme}} sm:h-20">
        <h1 class="w-full px-6 text-white font-bold text-2xl truncate sm:text-3xl md:mx-2 lg:text-center lg:mx-0 lg:px-0">
            Tareas
        </h1>
        
        <button class="h-10 w-10 mx-4 flex items-center justify-center justify-self-end rounded-full text-2xl text-white sm:h-12 sm:w-12 sm:mx-7 active:animate-shrink lg:mx-2" (click)="print('Agregar tarea')">
            <img src="../../assets/add-outline.svg" alt="Agregar" class="h-full w-full">
        </button>
    </header>

    <!-- Contenedor tareas -->
    <div class="h-full flex flex-col gap-2 px-4 py-2 pb-6 overflow-y-scroll animate-load" *ngIf="tareas.length">
        <!-- Tarea -->
        <div class="tarea h-fit w-full px-6 py-3 bg-transBackground-{{ selectedTheme }} rounded-full relative flex items-center gap-4 shadow-lg md:px-10 md:py-6" *ngFor="let tarea of tareas; index as i">
            <div class="w-2/3 h-[2px] absolute top-1/2 left-6 bg-[#d9d9d9] md:w-7/12 md:left-10" *ngIf="tarea.completada"></div>
            <h1 id="header" class="w-2/4 truncate text-textColor-{{ selectedTheme }} md:text-2xl"> {{ tarea.nombre }} </h1>
            <h1 class="w-2/4 text-textColor-{{ selectedTheme }} md:text-2xl"> {{ tarea.fecha.toLocaleDateString() }} </h1>
            <input type="checkbox" class="absolute right-14 md:w-5 md:h-5 md:right-32" [(ngModel)]="tarea.completada" (click)="changeCompleted(i)">
            <button class="h-full m-0 flex justify-center items-center absolute right-5 md:right-14 active:animate-shrink" *ngIf="!tarea.completada" (click)="print('Editar tarea')">
                <img id="btn-editar" src="../../assets/edit-outline-dark.svg" alt="Editar" class="h-4 w-4 md:h-7 md:w-7">
            </button>
            <button class="h-full m-0 flex justify-center items-center absolute right-5 md:right-14 active:animate-shrink" *ngIf="tarea.completada" (click)="print('Eliminar tarea')">
                <img src="../../assets/trash-outline-red.svg" alt="Borrar" class="h-5 w-5 md:h-8 md:w-8">
            </button>
        </div>
    </div>
        
    <!-- Mensaje arreglo tareas pendientes vacío -->
    <div class="w-full my-auto text-center" *ngIf="!tareas.length">
        <h1 class="px-4 text-xl text-textColor-{{selectedTheme}} opacity-25 font-bold lg:text-2xl">No tienes tareas. Para agregar una pulsa el boton de &plus; en la esquina superior derecha</h1>
    </div>
</body>
<app-footer></app-footer>